.marquee-container {
  --pause-on-hover: running;
  --pause-on-click: running;
  --width: 100%;
  --transform: none;
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  .marquee {
    --play: running;
    --direction: normal;
    --duration: 107.8s;
    --delay: 0s;
    --iteration-count: infinite;
    --min-width: 100%;
  }
  .marquee2 {
    --play: running;
    --direction: ltr;
    --duration: 107.8s;
    --delay: 0s;
    --iteration-count: infinite;
    --min-width: 100%;
  }
  .child {
    --transform: none;
  }
}
